/* #img1{
    position: fixed;
    top: 0px;
    left: 0px;
}
 #img2{
    position: absolute;
    top: 0px;
    left: 0px;
} 
#img2{
    position: fixed;
    top: 0px;
    left: 0px;
} */

body{
    margin: 0px;
    padding: 0px;
    background-image: linear-gradient(to right bottom,aqua,violet,brown);
    height: 100vh;
}
nav{
    background-color: blanchedalmond;
}
#cont{
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
    color: purple;
    padding: 20px;
    display: block;
}
a:hover{
    background-color: brown;
    color: white;
}
#menu{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    background-color: hotpink;
    position: absolute;
    display: none;
}
#drop:hover #menu {
    display: block;

}
